@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    margin: 0;
}

body {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Varela Round';
}

.site-title {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    transition: background-color 0.3s ease;
    /* border: 5px solid rgb(255, 213, 0); */
}

.nav:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.site-title {
    margin: .5rem;
}

.nav-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links li {
    color: inherit;
    height: 50%;
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
}

.nav-links a {
    width: 100%;
    text-decoration: none;
    color: inherit;
}


.nav li.active {
    background-color: rgba(148, 148, 148, 0.45);
    border-radius: 1rem;
}

.nav li:hover {
    background-color: rgba(208, 208, 208, 0.45);
    border-radius: 1rem;
}

.toggle-button {
    position: absolute;
    top: .8rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    /* border: 2px solid rgb(235, 37, 37); */
}

.toggle-button:hover {
    background-color: rgba(158, 158, 158, 0.45);
}

@media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 0;
        /* border: 5px solid rgb(235, 37, 37); */
    }

    .nav-links {
        display: none;
        width: 100%;
        /* border: 5px solid rgb(226, 111, 17); */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .nav li {
        width: 100%;
        text-align: center;
        padding: .25rem 0;
    }

    .nav li.active,
    .nav li:hover {
        border-radius: 0;
    }
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    /* border: 5px solid rgb(222, 17, 226); */
    overflow: auto;
}


.home-text-section {
    color: white;
    font-size: 1.25rem;
    width: 35%;
    min-width: 20rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    /* border: 5px solid rgb(235, 41, 41); */
}

.home-image-section {
    aspect-ratio: 1/1;
    width: 20%;
    min-width: 20rem;
    /* border: 5px solid rgb(81, 210, 30); */
    display: flex;
    justify-content: center;
}

.home-image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

@media (width < 700px) or (orientation: portrait) {
    .home-container {
        flex-direction: column;
        padding: 2rem 0;
    }
}

.footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-icon {
    color: white;
}

.footer-icon:hover {
    transform: translateY(-2px);
}